body {
    max-width: 90%;
    margin: 5%;
    font-family: "Serif";
    letter-spacing: 2px;
    font-size: 15px;
    color: #59544F;
    background: -webkit-linear-gradient(136deg, rgb(208, 200, 190), rgb(182, 170, 160));
    background: linear-gradient(136deg, rgb(208, 200, 190), rgb(182, 170, 160));
}

img, figcaption {
    float: right;
    max-width: 30%;
    margin-right: 10px;
}

.quotation {
    font-style: italic;
}

q{
    font-style: italic;
}

h1 {
    font-size: 25px;
    color: #A65D56;
}

h2 {
    font-size: 20px;
    color: #A67165;
}

a {
    color:#A65D56;
    text-decoration: underline;
    font-size: 16px;
}

a:visited {
    color: #A67165
    ;
}

a:hover {
    color:#444A49;
    background-color: #A65D56;
}

blockquote {
    max-width: 50%;
    margin-left: 50%;
    padding-left: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 160%;
    background-color:rgba(192,192,192,0.4);
    border-left: 3px solid rgba(192,192,192,0.8)
}

.farmer01 {
    padding-left: 3px;
    border-left: 3px solid rgb(216, 134, 57);
    background-color: rgba(216,134,57,0.2);
}

.villagers {
    padding-left: 3px;
    border-left: 3px solid rgb(214, 53, 53);
    background-color: rgba(214,53,53,0.2);
}

.good {
    text-transform: uppercase;
    background-color: green;
}

.bad {
    text-transform: uppercase;
    background-color: red;
}

header > p {
    background-color:rgba(255, 255, 0, 0.5);
}

table tr:nth-child(odd){
    background-color:grey;
}

table tr:nth-child(even){
    background-color:white;
}

h2+p:first-of-type {
    font-weight:bold;
}
